
<div class="container text-center m-5">
    <hr>
    <h1>
        INGRESE UN VIAJE
    </h1>
    <hr>
</div>
<div class=" container m-5 ">
<form action="/formularioCarga" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Direccion de correo </label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
    <div id="emailHelp" class="form-text">Ingrese direccion de correo @gmail.com</div>
  </div>
  <div class="mb-3 form-check">
    <button type="submit" class="btn btn-primary">enviado</button>
  </div>
</form>
</div> 